
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-theme-gradient {
  background: linear-gradient(180deg, rgba(224, 242, 241, 0.5) 0%, rgba(229, 239, 246, 0.5) 100%);
}

.text-theme-gradient {
  background: linear-gradient(90deg, #26a69a 0%, #4db6ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  padding: 2em;
}

.pet-progress-ring {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.section-title {
  @apply font-medium text-gray-600 block mb-1;
}

.symptom-input {
  @apply border-gray-200 focus:border-teal-500 focus:ring-teal-500;
}
